<!-- Change Pickup Location Modal -->
<div id="CartDeliveryEdit" class="modal fade" role="dialog">
    <div class="modal-dialog" style="max-width:380px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Assigned Rider for Delivery </h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-offset-1">

                    <div class="form-group" hidden>
                        <p class="control-label"> Id: </p>
                        <input class="form-control" type="text" style="padding-top:5px;" id="Edit-delivery-id" value="" />
                    </div> 
                    <div class="form-group">
                        <p class="control-label"> Date: </p>
                        <input class="form-control" type="text" style="padding-top:5px;" id="Edit-delivery-date" />
                    </div>

                    <div class="form-group">
                        <p class="control-label">  Address: </p>
                        <input class="form-control" type="text" id="Edit-delivery-address" value="@ViewBag.Address" />
                    </div>


                    <div class="form-group">
                        <p class="control-label"> Assigned Rider </p>
                        <select class="form-control list-group" id="Edit-delivery-riderId">
                            @foreach (var rider in ViewBag.RiderList as IEnumerable<eCartModels.RiderDetail>)
                            {
                                <option class="list-group-item" value="@rider.Id">
                                    @rider.Name
                                </option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <p class="control-label">  Remarks: </p>
                        <input class="form-control" type="text" id="Edit-delivery-remarks" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="EditDeliveryRider()">Submit</button>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/DateRangePicker/moment.min.js"></script>
<script src="~/Scripts/DateRangePicker/daterangepicker.js"></script>
<link href="~/Content/daterangepicker.css" rel="stylesheet" />
<script>
    $('#Edit-delivery-date').daterangepicker({
        singleDatePicker: true,
        startDate: moment(),
        showDropdowns: true,
        timePicker: true,
        timePicker24Hour: false,
        timePickerIncrement: 10,
        autoUpdateInput: true,
        locale: {
            format: 'MMM DD,YYYY h:mm A'
        },
    });



    function EditDeliveryRider() {
        var data = {
            id: $("#Edit-delivery-id").val(),
            date: $("#Edit-delivery-date").val(),
            address: $("#Edit-delivery-address").val(),
            riderId: parseInt($("#Edit-delivery-riderId option:selected").val()),
            cartDetailId: parseInt('@ViewBag.CartId'),
            remarks: $("#Edit-delivery-remarks").val()
        }

        $.post("/Store/CartDetails/UpdateDeliveryRider/", data, (res) => {
            console.log(res);
            window.location.reload();
            //UpdateDeliveryTable(data);
        });

    }

    function UpdateDeliveryTable(data) {
        var delivery = "<tr>" +
            "<td>" + $("#Edit-delivery-riderId option:selected").text() + "</td>" +
            "<td>" + data.date.toString("M/d/yyyy h:mm:ss tt") + "</td>" +
            "<td>" + data.address + "</td>" +
            "<td>" + data.remarks + "</td>" +
            "</tr>"

            $("#table-delivery").append(delivery);
    }
</script>