@{
    ViewBag.Title = "How it Works";
}


<div class="jumbotron">
    <h2> How It Works? (FAQs)</h2>
</div>

<div class="col-lg-12">

    <h3> How to Register a Shopper Account </h3>
    <ol>
        <li> Click the <b>Register</b> at the top right corner of the screen </li>
        <li> Enter your preferred email and password, then click the <b>Register</b> button </li>
        <li> On the Register an Account Form, fill in all the required fields, then click the <b>Submit</b> button </li>
        <li> Done, You have now created a <b>Shopper Account</b>. </li>
    </ol>

    <h3> How to Register a Store Account </h3>
    <ol>
        <li> Click the <b>Hello (your email) !</b> at the top right corner of the screen </li>
        <li> In the Other Accounts section, click the <b>Apply for Store Account</b> </li>
        <li> Verify the email and contact number fields, then click the <b>Submit</b> button </li>
        <li> You will be contacted by the administrator for the details of your store </li>
    </ol>

    <h3> How to Register a Rider Account </h3>
    <ol>
        <li> Click the <b>Hello (your email) !</b> at the top right corner of the screen </li>
        <li> In the Other Accounts section, click the <b>Apply for Rider Account</b> </li>
        <li> Verify the email and contact number fields, then click the <b>Submit</b> button </li>
        <li> You will be contacted by the administrator for the details of your store </li>
    </ol>
</div>