@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>eCart Online Shopping</h2>
    <p class="lead"> <a href="~/Home/AboutHow"> How It Works? </a> </p>

    <!-- Ready to Pickup Shopping Carts -->
    @if (ViewBag.ReadyCarts != null ) { 
        foreach (var cart in ViewBag.ReadyCarts as IEnumerable<eCartModels.CartDetail>)
        {
            @Html.ActionLink("You cart#" + cart.Id.ToString("0000") + " is now ready", "Details", "CartDetails", new { area = "Shopper", id = cart.Id }, new { @class = "label label-info" }) <br />
        }
    }
</div>

@{ Html.RenderAction("_StoreList"); }
@{ Html.RenderAction("_ProductList"); }


@{ Html.RenderAction("_CartSummary", "CartDetails", new { area = "Shopper" }); }

@section Scripts{
    <script src="~/Areas/Shopper/Scripts/cart.js"></script>
    <script>
        //On Add to Cart Button Click
        function AddtoCart(e) {
            if ('@HttpContext.Current.User.Identity.IsAuthenticated' == 'True') {
                $(e).addClass('hidden');                //hide
                $(e).siblings().removeClass('hidden');  //show
            } else {
                //login user
                window.location = "/Account/Login";
            }
        }


    </script>
}

