@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eCart Online Shopping</h1>
    <p class="lead"> <a href="~/Home/AboutHow"> How It Works? </a> </p>
</div>

@{ Html.RenderAction("_StoreList"); }
@{ Html.RenderAction("_ProductList"); }


@{ Html.RenderAction("_CartSummary", "CartDetails", new { area = "Shopper" }); }

@section Scripts{
    <script src="~/Areas/Shopper/Scripts/cart.js"></script>
    <script>
        //On Add to Cart Button Click
        function AddtoCart(e) {
            if ('@Session["USER"]' != '') {
                $(e).addClass('hidden');                //hide
                $(e).siblings().removeClass('hidden');  //show
            } else {
                //login user
                window.location = "/Account/Login";
            }
        }

        $(".item-list").on("hover", new function () {
            console.log("hover");
        });

    </script>
}

