@model IEnumerable<eCartModels.StoreKiosk>
@{
    ViewBag.Title = "Initialize Store Kiosk";
}

<h2> Select Kiosk</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Index", new { id = item.Id })">
            <div class="col-sm-3 store-item">
                <div class="col-sm-12">
                    <h2> @item.KioskName </h2>
                </div>

            </div>
        </a>
    }
</div>