

<div id="AddCategory" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Select Item category </h4>
            </div>

            <div class="modal-body">
                <div class="list-group" id="AddCat-CategoryGroup">
                    <!-- Generated Category List Content Here -->
                </div>

                <div class="list-group" id="AddCat-CategoryList">
                    <!-- Generated Category List Content Here -->
                </div>
            </div>
        </div>

    </div>
</div>



<script>
    function GetCategoryList(itemId) {

       // $('#AddCat-CategoryList').hide();
        $('#AddCat-CategoryGroup').show();

        $.get("/Store/StoreItems/GetItemCategoryGroups")
            .then((result) => {
                //add categories to the category modal
                GenerateCategoryGroupList(result, itemId);
            });
    }

    function GenerateCategoryGroupList(categories, itemId) {
        $("#AddCat-CategoryGroup").remove();

        for (var i = 0; i < categories.length; i++) {
            let category = "<button class='list-group-item' onclick='SelectCategoryGroup(this," + itemId + ", " + categories[i]["Id"] + ")'> " + categories[i]["Name"] + " </button> ";

            $("#AddCat-CategoryGroup").append(category);
        }
    }
    function GenerateCategoryList(categories, itemId) {
        $("#AddCat-CategoryList").remove();

        for (var i = 0; i < categories.length; i++) {
            let category = "<button class='list-group-item' onclick='SelectCategory(this," + itemId + ", " + categories[i]["Id"] + ")'> " + categories[i]["Name"] + " </button> ";

            $("#AddCat-CategoryList").append(category);
        }
    }

    function SelectCategoryGroup(e, itemId, categoryId) {

        console.log("loading categories");

        var res = $.get("/Store/StoreItems/GetItemCategoriesById", { id: categoryId })
            .then((result) => {
                console.log(result);
                //add categories to the category modal
                GenerateCategoryList(result, itemId);

                $('#AddCat-CategoryGroup').hide();
                $('#AddCat-CategoryList').show();
            });
       
    }

    function SelectCategory(e, itemId, categoryId) {
        $.post("/Store/StoreItems/AddItemCategory", { itemId: itemId, categoryId: categoryId })
            .then(() => {
                console.log("category adde to the item");
                $("#AddCategory").modal('hide');

                var tempCategory = "<div class='btn-group'>" +
                    "<button class='btn btn-default btn-xs'> " + $(e).text() + " </button>" +
                    "</div>";
                $("#category-" + itemId).append(tempCategory);
            });
    }
</script>
  @*//"<button class='btn btn-default btn-xs' style='color:gray;' onclick='RemoveItemCategory(this," + categoryId + ")'>  &times; </button>" +*@